<?xml version="1.0"?>
<!-- ##########################-->
 <!--Robot model parameters -->
 <robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--LLink Dimension-->
    <xacro:property name="a" value="0.1" />
    <xacro:property name="b" value="0.1" />
    <xacro:property name="c" value="0.8" />

      <!--center of mass-->
    <xacro:property name="s" value="${c/2}"/>
    <!--First joint displacemnt along the z axis direction -->
    <xacro:property name="q" value="${c - c/4}"/>

    <!--Material density -->
    <xacro:property name="d" value="2710.0" />

    <!--Mass  -->
    <xacro:property name="m" value="${d*a*b*c}"/>
    <!--Link moments of inertia-->
    <xacro:property name="Ix_body" value="${(1/12)*m*(b*b+c*c)}"/>
    <xacro:property name="Iy_body" value="${(1/12)*m*(a*a+b*b)}"/>
    <xacro:property name="Iz_body" value="${(1/12)*m*(a*a+c*c)}"/>
    <!-- This Macro Defines the complete inertial section of the robot bbody -->
     <!--it is used later in the code -->
     <xacro:macro name="inertia_body">
        <inertial>
            <!-- Displacement and oreinetation of hte center of the focous -->
             <origin xyz="0.0 0.0 ${s}" rpy="0.0 0.0 0.0"/>
             <mass value="${s}"/>
             <mass value="${m}" />
             <inertia ixx="${Ix_body}" ixy="0.0" ixz="0.0" iyy="${Iy_body}" iyz="0" izz="${Iz_body}" />
             
                
             

             
            
        </inertial>
     </xacro:macro>
     <!-- Colours -->
      <material name="blue">
        <color rgba="0 0 1 1"/>


      </material>
      <material name="red">
        <color rgba="1 0 0 1"/>
      
      </material>





 </robot>